#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateDetectorInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateDetectorInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE detector SET $update WHERE id=$ctx.args.updateDetectorInput.id", "SELECT * FROM Detector WHERE id=$ctx.args.updateDetectorInput.id"]
}
