#set ( $tableName = "data.heat_map")
#set ( $columnList = ['id', 'measurement_run_id', 'type_id', 'metadata'] )
#set ( $columnTimeList = [] )
#set ( $input = $ctx.args.createHeat_mapInput )

## Build columns to be selected.
#foreach( $columnTime in $columnTimeList )
	#set ( $convertedTime = "cast(extract(epoch from $columnTime) as integer) as $columnTime" )
	#set ( $discard = $columnList.add($convertedTime) )
#end
#set ( $columns = $columnList.toString().replace("[", "").replace("]", "") )

#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $input.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$input[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO $tableName $colStr VALUES $valStr", "SELECT $columns FROM $tableName WHERE id=$input.id"]
}