#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateMeasurement_runInput.keySet() )
  #set( $value = $ctx.args.updateMeasurement_runInput[$entry] )
  #if($entry == "start_time" || $entry == "end_time")
    #set( $value = "to_timestamp($value)" )
  #else
    #set( $value = "'$value'" )
  #end
  #set( $discard = $updateList.put($entry, $value) )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )

{
  "version": "2018-05-29",
  "statements":   ["UPDATE spyder.measurement_run SET $update WHERE id=$ctx.args.updateMeasurement_runInput.id", "SELECT id, system_id, status_code_id, config_id, metadata, cast(extract(epoch from start_time) as integer) as start_time, cast(extract(epoch from end_time) as integer) as end_time FROM spyder.Measurement_run WHERE id=$ctx.args.updateMeasurement_runInput.id"]
}