#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createParametersInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createParametersInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Parameters $colStr VALUES $valStr", "SELECT * FROM Parameters WHERE id=$ctx.args.createParametersInput.id"]
}