#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createUser_labelInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createUser_labelInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO User_label $colStr VALUES $valStr", "SELECT * FROM User_label WHERE id=$ctx.args.createUser_labelInput.id"]
}