#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createDetection_runInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createDetection_runInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Detection_run $colStr VALUES $valStr", "SELECT * FROM Detection_run WHERE id=$ctx.args.createDetection_runInput.id"]
}