#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createTrack_detectionsInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createTrack_detectionsInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Track_detections $colStr VALUES $valStr", "SELECT * FROM Track_detections WHERE detection_id=$ctx.args.createTrack_detectionsInput.detection_id"]
}