#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createInfrared_matrixInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createInfrared_matrixInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Infrared_matrix $colStr VALUES $valStr", "SELECT * FROM Infrared_matrix WHERE id=$ctx.args.createInfrared_matrixInput.id"]
}