#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createClassificationInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createClassificationInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Classification $colStr VALUES $valStr", "SELECT * FROM Classification WHERE id=$ctx.args.createClassificationInput.id"]
}