## Set these values.
#set ( $input = $ctx.args.filterMeasurementInput )
#set ( $tableName = "data.measurement")
#set ( $columnList = ["id", "measurement_run_id", "sensor_type_id", "pose_id", "metadata"] )
#set ( $columnTimeList = ["time"] )

## Build columns to be selected.
#foreach( $columnTime in $columnTimeList )
	#set ( $convertedTime = "cast(extract(epoch from $columnTime) as integer) as $columnTime" )
	#set ( $discard = $columnList.add($convertedTime) )
#end
#set ( $columns = $columnList.toString().replace("[", "").replace("]", "") )

## Build where condition.
#set( $whereList = [] )
#foreach( $key in $input.keySet() )
	#foreach( $op in $input[$key].keySet() )
		#set( $opEntry = $input[$key] )
		#set( $value = $opEntry[$op] )
		#set( $op_value = "" )
		#if( $columnTimeList.contains($key))
		    #set( $key = "cast(extract(epoch from $key) as integer)" )
		#end
		#if( $op=="eq" )
		    #set( $op_value = "$key = $value" )
		#elseif( $op=="neq" )
		    #set( $op_value = "$key != $value" )
		#elseif( $op=="gt" )
		    #set( $op_value = "$key > $value" )
		#elseif( $op=="ge" )
		    #set( $op_value = "$key >= $value" )
		#elseif( $op=="lt" )
		    #set( $op_value = "$key < $value" )
		#elseif( $op=="le" )
		    #set( $op_value = "$key <= $value" )
		#elseif( $op=="in" )
			#set( $value = $value.toString().replace(",", "COMMA").replace("[", "L_PAREN").replace("]", "R_PAREN") )
		    #set( $op_value = "$key IN $value" )
		#elseif( $op=="between" )
		    #set( $start = $value[0] )
		    #set( $end = $value[1] )
		    #set( $op_value = "( $start <= $key AND $key <= $end )" )
		#elseif( $op=="contains" )
		    #set( $op_value = "$key LIKE '%$value%'" )
		#elseif( $op=="notContains" )
		    #set( $op_value = "$key NOT LIKE '%$value%'" )
		#elseif( $op=="beginsWith" )
		    #set( $op_value = "$key LIKE '$value%'" )
		#end
        #set( $discard = $whereList.add($op_value) )
	#end
#end
#set( $where = $whereList.toString().replace("[", "").replace("]", "").replace(",", " AND ").replace("COMMA", ",").replace("L_PAREN", "(").replace("R_PAREN", ")") )

{
    "version": "2018-05-29",
    "statements": ["SELECT $columns FROM $tableName WHERE $where"]
}