{
  "version": "2018-05-29",
  "statements":   ["SELECT id, system_id, status_code_id, config_id, metadata, cast(extract(epoch from start_time) as integer) as start_time, cast(extract(epoch from end_time) as integer) as end_time FROM spyder.Measurement_run WHERE id=$ctx.args.id"]
}