@import url('https://fonts.googleapis.com/css?family=Poppins:400|Roboto:400|Inter:700');

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.teamcard {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 551px;
  padding: 40px 0;
  width: 100%;
}

:root {
  --black-2: rgba(0, 0, 0, 0.8);
  --black: rgba(0, 0, 0, 1);
  --mirage: rgba(13, 26, 38, 1);
  --chicago: rgba(88, 88, 88, 1);
  --primary100: rgba(96, 195, 227, 1);
  --primary80: rgba(127, 206, 232, 1);
  --half-baked: rgba(134, 197, 216, 1);
  --mountain-mist: rgba(152, 152, 152, 1);
  --primary60: rgba(159, 218, 238, 1);
  --pink-swan: rgba(184, 184, 184, 1);
  --orchid: rgba(205, 114, 202, 1);
  --secondary100: rgba(229, 229, 229, 1);
  --secondary80: rgba(234, 234, 234, 1);
  --secondary60: rgba(239, 239, 239, 1);
  --gallery: rgba(239, 240, 240, 1);
  --black-squeeze: rgba(240, 248, 250, 1);
  --jaffa: rgba(244, 142, 66, 1);
  --desert-storm: rgba(248, 248, 248, 1);
  --tutu: rgba(250, 238, 249, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-m: 14px;
  --font-size-l: 12px;
  --font-size-l: 18px;
  --font-size-xl: 20px;
  --font-size-m2: 11px;
  --font-size-22px: 22px;
  --font-size-xxl3: 24px;
  --font-size-xxl2: 26px;
  --font-size-xxxl2: 40px;
  --font-size-xxxxl2: 60px;

  --font-family-inter: 'Inter';
  --font-family-inter-bold: 'Inter-Bold';
  --font-family-inter-regular: 'Inter-Regular';
  --font-family-inter-semibold: 'Inter-SemiBold';
  --font-family-poppins: 'Poppins';
  --font-family-poppins-regular: 'Poppins-Regular';
  --font-family-roboto: 'Roboto';
  --font-family-roboto-bold: 'Roboto-Bold';
  --font-family-whyte-bold: 'Whyte-Bold';
}

.poppins40 {
  font-family: var(--font-family-poppins-regular);
  font-size: var(--font-size-xxxl2);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.poppins26 {
  font-family: var(--font-family-poppins-regular);
  font-size: var(--font-size-xxl2);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.roboto-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl3);
  font-weight: 700;
  font-style: normal;
}
.poppins26 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl2);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.border-1px-black {
  border-width: 1px;
  border-style: solid;
  border-color: var(--black);
}
.poppins18 {
  font-family: var(--font-family-poppins-regular);
  font-size: var(--font-size-l);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.poppins14 {
  font-family: var(--font-family-poppins-regular);
  font-size: var(--font-size-m);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.inter-semi-bold-black-11px {
  color: var(--black-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m2);
  font-weight: 600;
  font-style: normal;
}
.poppins60 {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl2);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.inter-normal-black-11px {
  color: var(--black-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}
.inter-bold-mirage-16px {
  color: var(--mirage);
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
.roboto-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl3);
  font-weight: 400;
  font-style: normal;
}
.roboto-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-roboto-bold);
  font-size: var(--font-size-xxl3);
  font-weight: 700;
  font-style: normal;
}
.poppins22 {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-22px);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.inter-bold-half-baked-16px {
  color: var(--half-baked);
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
.poppins18 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.poppins40 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl2);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.poppins14-a42 {
  font-family: var(--font-family-poppins-regular);
  font-size: var(--font-size-m);
  letter-spacing: 4.2px;
  font-weight: 400;
  font-style: normal;
}
.poppins14-a42 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  letter-spacing: 4.2px;
  font-weight: 400;
  font-style: normal;
}
.roboto-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
}
.inter-semi-bold-black-11px {
  color: var(--black-2);
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-m2);
  font-weight: 600;
  font-style: normal;
}
.poppins14 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.inter-regular-normal-black-11px {
  color: var(--black-2);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}
.inter-bold-orchid-16px {
  color: var(--orchid);
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
.roboto-bold-black-22px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-22px);
  font-weight: 700;
  font-style: normal;
}
.poppins-regular-normal-black-22px {
  color: var(--black);
  font-family: var(--font-family-poppins-regular);
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
}
.poppins-normal-black-22px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-22px);
  font-weight: 400;
  font-style: normal;
}
